<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    </div>
    <!-- <ng-container> -->
        <div class="container" style="max-width:600px;margin:60px auto;">
        <div class="row custom-row">
            <!-- <div class= "col-sm-5 custom-container jumbotron"> -->
                 
              <form class="form-horizontal">
                  <fieldset>
                    <legend>Plan Trip</legend>
                   
                   
                      <div class="input-field">
                        <label for="inputSource">Source</label>
                        <input type="text" [(ngModel)]="flight_details.source_name" name="src"
                          id="inputSource"
                          placeholder="Source name">
                          
                      </div>
                      
                      <div class="input-field">
                        <label for="inputDest">Destination</label>
                        <input type="text" [(ngModel)]="flight_details.dest_name" name="dest"
                          id="inputDest"
                          placeholder="Destination name">
                          
                      </div>
                      <label for="inputDate">Journey Date</label>
                      <br>
                          <label for="inputFrom">From:</label>
                        <input type="text" [(ngModel)]="flight_details.from_date" name="from"
                          id="inputFrom" >
                          <label for="inputTo">To:</label>
                          <input type="text" [(ngModel)]="flight_details.to_date" name="to"
                          id="inputTo">
                      
                    <div>
                    <input type="checkbox" id="oneWay" name="oneWay" [(ngModel)]="flight_details.oneWay"/>
                    <label for="oneWay">One Way</label>
                   </div>
                   <br>
                      <label for="duration">Duration</label>
                      <input type="text" [(ngModel)]="flight_details.duration" name="dur"
                      id="dur"><br>
                      <input type="checkbox" id="direct" name="direct" [(ngModel)]="flight_details.direct"/>
                    <label for="direct">Direct</label><br>
                    <label for="max_price">Maximum Price</label>
                      <input type="text" [(ngModel)]="flight_details.max_price" name="max_p"
                      id="max_p">
                      <!-- <label for="agg_mode">Aggregation Mode</label>
                      <input type="text" [(ngModel)]="agg_mode" name="agg_mode"
                      id="agg_mode"> -->
        
                   
                   
                      
                     <br>
                      <div class="form-group">
                          <button type="reset" class="btn btn-default">Cancel</button>
                          <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                      </div>
                  </fieldset>
              </form>
            <!-- </div> -->
          </div>
          </div>
      <!-- </ng-container> -->
    
    <!-- <div class="container">
        <div class="row">
            
              <div class="col s12">
              <div class="row">
                <div class="col s6">
                    <label for="source_name">Source</label>
                    <input placeholder="source name" class="form-control" [formControl]="source_name">
                  {{source_name}}
                </div>
                <div class="col s6">
                    <label for="dest_name">Destination</label>
                  <input placeholder="destination name" class="form-control" [formControl]="dest_name">
                  {{dest_name}}
                </div>
              </div>
              <label for="dep_date">Departure Date:</label>
              <div class="row">
                  <div class="input-field col s12">
                    <label for="from_date">From</label>
                    <input class="form-control" [formControl]="from_date">
                  </div>
                  <div class="input-field col s12">
                      <label for="to_date">To</label>
                      <input class="form-control" [formControl]="to_date">
                  </div>
                    
                  </div>
                
                </div>
            
          </div>
    </div> -->