<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>

<div class="outer_signin_signup ">
  <div class="container">
    <div class="row flex">
      <div class="col m12 s12">
        <div class="signup_right change">
          <h5 style="text-align: center">Plan Flights</h5>
          <div class="signup_form_inner">
            <form class="form-horizontal">
              <div class="row">
                <div class="outer_position col s6 change">
                  <h5 class="head">Source</h5>
                  <input type="text" [(ngModel)]="source_name" name="src" id="inputSource" placeholder="Source">
                </div>
                <div class="outer_position col s6">
                  <h5>Destination</h5>
                  <input type="text" [(ngModel)]="dest_name" name="dest" id="inputDest" placeholder="destination">
                </div>
                <div class="outer_position col s6">
                  <h5>Journey Date</h5>
                  <input id="date" type="text" class="datepicker">
                </div>
              </div>
              <div class="outer_position">
                <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="flag" class="container" style="max-width:1000px;margin:20px auto;">
  <div class="table_outer">
    <table class="responsive_tables">

      <thead>
        <tr>
          <th>AirLine Name</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Fare</th>
          <th>Departure</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let i of totalRecord">
          <tr>
            <td>
              {{airLines[i.LowestFare.AirlineCodes[0]]}}
            </td>
            <td>
              {{source}}
            </td>
            <td>
              {{destination}}
            </td>
            <td>
              INR {{i.LowestFare.Fare}}
            </td>
            <td>
              {{i.DepartureDateTime}}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div>
    </div>
    <br>
  </div>
</div>

